body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  padding: 0.3rem;
  background-color: #49a0eb;
  color: white;
  margin-bottom: 2rem;
}

.header > h2 {
  margin-bottom: 0;
}

.header > p {
  margin-top: 0.2rem;
}

.userInput {
  padding: 1rem;
  width: 60%;
}

.emojiList {
  padding: 0.5rem;
  cursor: pointer;
}
